page-downloads {
    .d-header{
        position: relative;
        height: 52vh;
        z-index: 1;
        h3{
            position: absolute;
            top: 10vh;
            left: 0;
            margin: auto;
            right: 0;
            text-align: center;
            font-size: 3vh;
            color: white;
            font-weight: 300;
        }
        img{
            width: 70%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2vh;
            margin: 0 auto;
        }
    }
    .d-header::before{
        display: block;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 250%);
        margin-top: 39.5vh;
        height: 12.5vh;
        width: 100%;
        content: '';
    }
    .btns{
        button{
            margin-bottom:4vh; 
            height: 9vh;
            span{
                font-size: 2.5vh;
                white-space: normal;
            }
        }
    }
}
