page-home {
    .home-bg{
        position: relative;
        z-index: 2;
    }
    .btn-home{
        position: relative;
        text-align: center;
        height: 20vh;
        img{
            position: absolute;
            height: 20vh;
            width: 100vw;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    .btn-home::after{
        display: block;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 300%);
        margin-top: 6vh;
        height: 14vh;
        width: 100%;
        content: '';
    }
    .btn-cnt{
        
        a{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto 0;
            width: 100vw;
            height: 15.5vw;
            color: white;
            font-size: 3.5vw;
            z-index: 2;
            font-weight: 500;
            
            h1{
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                font-weight: 200;
                font-size: 8vw;
            }
        }
    }
    .countdown{
        text-align: center;
        color: white;
        text-shadow: 1px 1px rgba(0,0,0,0.3);
        position: absolute;
        width: 65%;
        bottom: 30vw;
        left: 0;
        right: 0;
        margin: auto;
        .col{
            padding: 0 !important;
        }
        h4{
            -webkit-margin-after: 0;
            font-size: 4vh;
            font-weight: 700;
        }
        p{
            -webkit-margin-before: 7px;
            font-size: 1.4vh;
            font-weight: bold;
        }
    }
}
