page-we-are-one {
    ion-content{
        background: url('../assets/imgs/bg-one.jpg') no-repeat left top;
        background-size: cover;
    }
    .page-title-header-vmal{
        margin-top: 66vh;
        padding-left: 6vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        width: 68%;
        background-color: rgba(111, 181, 211, 0.89);
        color: white;
        h1{
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            font-size: 5vh;
            font-weight: 300;
        }
    }
}
