page-merch {
    .slide{
        img{
            object-fit: cover;
            width: 100vw;
        }
    }
    .merch-cont{
        position: relative;
        >div{
            background-color: #e65625;
            position: absolute;
            bottom: 4vh;
            padding: 0 5vw 0 5vw;
            max-width: 80%;
            h4{
                text-align: left !important;
                color: white;
                font-size: 2.5vh;
                padding-top: 2vh;
            }
            p{
                -webkit-margin-before: 0;
                text-indent: 0;
                color: white;
            }
        }
    }
}
