page-ask-dato {
    ion-title{
        div{color:map-get($colors, primary) !important;}
    }
    .background-splash{   
        height: 100vh;
        width: 100vw;
        background-image: url("../assets/imgs/ask-dato-bg.jpg");
        background-size: cover;
        background-position: center center;
        filter: brightness(82%);
    }
    ion-card{
        background-color: rgba(255,255,255,0.7)!important;
        ion-item{
            background-color: rgba(255,255,255,0.7)!important;
            ion-label{
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(0,0,0,0.3);
                h2{
                    white-space: normal;
                    padding: 8px 0px;
                }
            }
        }
        ion-card-content{
            background-color: rgba(255,255,255,0.7)!important;
        }
        
    }
    .form-question{
        img{
            opacity: 0.5;
        }
        ion-label{
            border-bottom: none;
        }
        h2{
            padding: 0;
        }
        textarea{
            width: 100%;
            padding: 12px;
            height: 40vh;
            font-size: 16px;
            border-color: rgba(193, 192, 192, 0.72);
            background-color: rgba(255, 255, 255, 0.72);
        }
        button{
            background-color: #cc855b !important;
        }
    }
}
